@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Annie+Use+Your+Telescope|Lato&display=swap');

body {
    max-width: 980px;
    margin: auto;
}

.buttons {
    width: 50px; 
    height: 50px;
}

header {
    background-color: black;
}

header .logo h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 55px;
    color: #c0c0c0;
    text-align: center;
    margin: 0;
}

header p {
    font-family: 'Lato', sans-serif;
    color: #c0c0c0;
    text-align: center;
    margin-bottom: 50px;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header nav ul li {
    text-align: center;
    padding: 5px 0 5px 0;
}
header nav ul li {
    border-bottom: 1px solid #232323;
}

header nav ul li:hover {
    background-color: rgba(255, 255, 255, .2);
}

header nav ul li a {
    font-family: 'Lato', sans-serif;
    color: #c0c0c0;
    text-decoration: none;
    text-transform: uppercase;
}

main .start-page {
    background-image: url(../img/start-page-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .start-page h2 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bold;
    font-size: 28px;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, .3);
    padding: 0 5px;
}

main .start-page .down-button {
    align-self: flex-end;
    
}

main .about-me {
    background-color: rgba(52, 44, 44, .1);
}

main .about-me h2 {
    font-family: 'Lato', sans-serif;
    margin: 0 0 0 10px;
    padding-top: 10px;
    
}

main .about-me hr {
    width: 96%;
}

main .about-me img {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

main .about-me div .briefly-about-me,
main .about-me div .contact-details {
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 1.5;
}

main .about-me div h3 {
    margin-bottom: 0;
    margin-top: 45px;
    text-align: center;
}

@media (min-width: 500px) {
    header .logo h1 {
        text-align: left;
        margin-left: 25%;
    }
    
    .logo p {
        text-align: right;
        margin-top: 0;
        margin-right: 30%;
    }
    
    header nav ul {
        display: flex;
        justify-content: space-around;
    }
    
    header nav ul li {
        border: 1px solid #232323;
        border-bottom: none;
        border-top: none;
        padding: 5px;
    }
    
    main .start-page h2 {
        font-size: 35px;
    }
    
    main .about-me p {
        margin: 0 10%;
    }
}

@media (min-width: 750px) {
    header .logo {
        margin-left: 5%;
    }
    
    header .logo h1 {
        text-align: left;
        margin: 0;
    }
    
    header .logo p {
        text-align: left;
        padding-left: 90px;
        margin: 0;
    }
    
    header nav ul {
        justify-content: flex-end;
        margin-right: 20px;
        margin-top: 20px;
    }
    
    header nav ul li {
        margin-left: 5%;
    }
    
    main .start-page h2 {
        font-size: 60px;
        margin-bottom: 20%;
    }
    
    main .about-me .container-photo-about {
        display: flex;
        justify-content: around;
    }
    
    main .about-me .container-photo-about img {
        margin: 0 10px 10px 10px;
    }
    
    main .about-me .container-photo-about div .briefly-about-me {
        font-size: 20px;
    }
    
    main .about-me .container-photo-about div h3 {
        margin-top: 60%;
    }
}

